<!-- header -->
<!DOCTYPE html>

<html>
  <head>
    <title>SHOW-CLUB</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
    </style>
    <!-- snippet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
    />
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css" />
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />

    <!-- Date Picker -->
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <!-- Flaticons  -->
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- snippet popup success -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- ajax snippet -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

      span {
        font-family: "Montserrat", sans-serif !important ;
      }

      .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
      }

      .search_input {
        color: grey;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
      }

      .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 150px;
        caret-color: red;
        transition: width 0.4s linear;
      }

      .searchbar:hover > .search_icon {
        background: grey;
        color: #e74c3c;
      }

      .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: orangered;
        text-decoration: none;
      }
    </style>

    <!-- +-button -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- +-button -->

    <div class="colorlib-loader"></div>

    <div id="page">
      <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
          <div class="container">
            <div class="row">
              <div class="col-sm-7 col-md-9">
                <div
                  style="
                    font-family: 'Odibee Sans', cursive;
                    font-weight: 900;
                    font-size: 50px;
                    text-shadow: 2px 1px 15px;
                    letter-spacing: 3px;
                  "
                  id="colorlib-logo"
                >
                  <a href="/">SHOW<a style="color: #f6511d">☰</a>CLUB</a>
                </div>
              </div>
              <div class="col-sm-5 col-md-3">
                <form action="#" class="search-wrap">
                  <div class="d-flex justify-content-center h-100">
                    <div class="searchbar form-group">
                      <input
                        class="search_input"
                        type="text"
                        name=""
                        placeholder="Search..."
                      />
                      <a href="#" class="search_icon"
                        ><i class="fas fa-search"></i
                      ></a>

                      <!-- <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" style="background-color: #F6511D;" type="submit"><i class="icon-search"></i></button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-left menu-1">
                <ul>
                  <li>
                    <a
                      href="/"
                      class="<%= activePage === 'home' ? 'active-btn' : 'inactive-btn' %>"
                      >Home</a
                    >
                  </li>
                  <li class="has-dropdown">
                    <a
                      href="/men"
                      class="<%= activePage === 'men' ? 'active-btn' : 'inactive-btn' %>"
                      >Men</a
                    >
                    <ul class="dropdown">
                      <li><a href="/product-detail">Product Detail</a></li>
                      <li><a href="/cart">Shopping Cart</a></li>
                      <li><a href="/checkout">Checkout</a></li>
                      <li><a href="/order-complete">Order Complete</a></li>
                      <li><a href="/add-to-wishlist">Wishlist</a></li>
                    </ul>
                  </li>
                  <li>
                    <a
                      href="/women"
                      class="<%= activePage === 'women' ? 'active-btn' : 'inactive-btn' %>"
                      >Women</a
                    >
                  </li>
                  <li>
                    <a
                      href="/about"
                      class="<%= activePage === 'about' ? 'active-btn' : 'inactive-btn' %>"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      href="/contact"
                      class="<%= activePage === 'contact' ? 'active-btn' : 'inactive-btn' %>"
                      >Contact</a
                    >
                  </li>
                  <li class="cart">
                    <a href="/cart"
                      ><i
                        class="icon-shopping-cart <%= activePage === 'cart' ? 'active-btn' : 'inactive-btn' %>"
                      ></i>
                      Cart</a
                    >
                  </li>
                  <li style="color: rgb(51, 51, 49); float: right">
                    <a href="/login">account</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% var activePage= ""; %>
        <div class="sale" style="background-color: #f6511d">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 offset-sm-2 text-center">
                <div class="row">
                  <div class="owl-carousel2">
                    <div class="item">
                      <div class="col">
                        <h3>
                          <a href="#"
                            >25% off (Almost) Everything! Use Code: Summer
                            Sale</a
                          >
                        </h3>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col">
                        <h3>
                          <a href="#"
                            >Our biggest sale yet 50% off all summer shoes</a
                          >
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- header -->
    </div>
  </body>
</html>
