<%- include('./header') %>
<style>
  .main-cont:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
  }

  .blur h1 {


    background-clip: text;
    backdrop-filter: blur(10px);
  }

  .banner-list {
    list-style: none;
    padding: 0;
  }

  .banner-item {
    position: relative;
    height: 400px;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(49, 48, 48, 0.466), rgba(85, 84, 84, 0.719));
    /* Adjust gradient colors and opacity */
    z-index: 1;
  }
</style>
<aside id="colorlib-hero">
  <div class="flexslider">
    <ul class="slides banner-list">

      <% banners.forEach(function(banner) { %>
      <li class="banner-item" style="background-image: url('/admin/IMAGES_DB/<%= banner.image %>');">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center slider-text">
              <div class="slider-text-inner">
                <div class="desc blur">
                  <h1 class="head-1"><%=banner.info%></h1>
                  <h2 class="head-2">Shoes</h2>
                  <h2 class="head-3"><%=banner.title%></h2>
                  <p class="category"><span><%=banner.description%></span></p>
                  <p><a href="/search?searchItem=<%=banner.info%>" class="btn btn-primary">Shop Collection</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% }); %>


      <!-- <li style="background-image: url(images/img_bg_2.jpg)">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h1 class="head-1">Huge</h1>
                  <h2 class="head-2">Sale</h2>
                  <h2 class="head-3">
                    <strong class="font-weight-bold">50%</strong> Off
                  </h2>
                  <p class="category"><span>Big sale sandals</span></p>
                  <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li style="background-image: url(images/img_bg_3.jpg)">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h1 class="head-1">New</h1>
                  <h2 class="head-2">Arrival</h2>
                  <h2 class="head-3">
                    up to <strong class="font-weight-bold">30%</strong> off
                  </h2>
                  <p class="category"><span>New stylish shoes for men</span></p>
                  <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li> -->

    </ul>
  </div>
</aside>
<div class="colorlib-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="intro">
          It started with a simple idea: Create quality, well-designed products
          that I wanted myself.
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="colorlib-product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="featured">
          <a href="/men" class="featured-img" style="background-image: url(images/main/men.jpg)"></a>
          <div class="desc">
            <h2><a href="/men">Shop Men's Collection</a></h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="featured">
          <a href="/women" class="featured-img" style="background-image: url(images/main/women.jpg)"></a>
          <div class="desc">
            <h2><a href="/women">Shop Women's Collection</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="colorlib-product">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
        <h2>Best Sellers</h2>
      </div>
    </div>
    <div class="row row-pb-md">
      <% product.forEach(function(product,index) { %>
      <div class="col-lg-3 mb-4 text-center main-cont">
        <div class="product-entry border">
          <a href="/product-detail?productid=<%=product._id %>" class="prod-img">
            <img src="/admin/cropped/<%= product.image[0] %>" class="img-fluid" alt="Free html5 bootstrap 4 template" />
          </a>
          <div class="desc">


            <h2><a href="/product-detail?productid=<%=product._id %>"><%=product.name %></a></h2>

            <% if ( product.offer){ var discount = (product.price * product.offer.percentage / 100).toFixed(0)  } else if ( product.category.offer ) {var discount = ( product.price * product.category.offer.percentage / 100 ).toFixed(0) } %>

            <% if ( product.offer ) { %>
            <p class="mb-0"><del>₹ <%= product.price %></del></p>
            <h5 class="mb-0">₹ <%= product.price - discount %> <span class="badge" style="font-size: medium; background: linear-gradient(to right, red, #f58c02); color: white;"> Save ₹ <%= discount %> </span></h5>
            <%} else if ( product.category.offer ) { %>
            <p class="mb-0"><del>₹ <%= product.price %></del></p>
            <h5 class="mb-0 fw-700">₹ <%= product.price - discount %> <span class="badge" style="font-size: medium; background: linear-gradient(to right, red, #f58c02); color: white;"> Save ₹ <%= discount %> </span></h5>
            <% } else { %>
            <h5>₹ <%= product.price %> </h5>
            <% } %>

            <!-- <span class="price">₹<%=product.price %></span> -->

          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><a href="/search?searchItem=" class="btn btn-primary btn-lg">Shop All Products</a></p>
      </div>
    </div>
  </div>
</div>

<div class="colorlib-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
        <h2>Trusted Partners</h2>
      </div>
    </div>
    <div class="row">
      <div class="col partner-col text-center">
        <img src="images/main/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template" />
      </div>
      <div class="col partner-col text-center">
        <img src="images/main/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template" />
      </div>
      <div class="col partner-col text-center">
        <img src="images/main/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template" />
      </div>
      <div class="col partner-col text-center">
        <img src="images/main/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template" />
      </div>
      <div class="col partner-col text-center">
        <img src="images/main/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template" />
      </div>
    </div>
  </div>
</div>


<%- include('./footer') %>