<%- include('./header') %>
<head>
  <title>Order Placed</title>
  
  <style>
    body {
      background-color: #f8f9fa;
    }

    .order-icon {
      font-size: 4rem;
      color: #F6511D;
      /* Orange color */
    }

    .order-title {
      color: #F6511D;
      /* Orange color */
    }

    .order-id {
      font-size: 1.2rem;
    }

    .table th {
      background-color: #F6511D;
      /* Orange color */
      color: #fff;
    }

    .continue-btn {
      background-color: #F6511D;
      /* Orange color */
      border-color: #F6511D;
      /* Orange color */
    }

    .continue-btn:hover {
      background-color: #F6511D;
      /* Slightly darker orange color */
      border-color: #F6511D;
      /* Slightly darker orange color */
    }

    .card {
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .table img {
      max-height: 100px;
      border-radius: 8px;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12 " >
        <div >
          <br>
          <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
              <p  class="icon-addcart "><span style="background-color: rgb(245, 238, 238); color: #F6511D; box-shadow: 1px 1px 10px -5px black;"><i class="icon-check"></i></span></p>
              <h2 class="mb-4">Thank you for purchasing, Order Placed Successfully</h2>
              <p>
                <a href="/"class="btn btn-primary btn-outline-primary">Home</a>
                <a href="/"class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> Continue Shopping</a>
              </p>
            </div>
          </div>
          
          <div class="card-body text-center">
            <i class="bi bi-check2-circle-fill order-icon"></i>
            <p class="order-id">Your order ID is: <strong>
                <%=order._id%>
              </strong></p>
          </div>
        </div>
        <div class="card mt-4 border-0 shadow">
          <div class="card-body">
            <h2 class="mb-4">Order Details</h2>
            <% if (order && order.products && order.products.length> 0) { %>
              
            <div class="table-responsive" style="border-radius: 7px;">
              <table class="table  table-hover text-center" ;">
                <thead>
                 
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                  <% order.products.forEach((products) => { %>
                  <tr>
                    <td><img style="width: 40px;" src="/admin/IMAGES_DB/<%=products.product_Id.image[0]%>" alt="Product Image"></td>
                    <td class="align-middle">
                      <%=products.product_Id.name%>
                    </td>
                    <td class="align-middle">
                      <%=products.total%>
                    </td>
                    <td class="align-middle">
                      <%=products.quantity%>
                    </td>
                  </tr>

                  <% }) %>
                </tbody>
              </table>
            </div>
              <div class="text-end">
                <p class="h5 mb-0">Total Amount: ₹<%=order.totalAmount%>
                </p>
              </div>
          </div>
        </div>
        <div class="card mt-4 border-0 shadow">
          <div class="card-body">
            <h2 class="mb-4">Delivery Information</h2>
            <div class="row">
              <div class="col-md-6">
                <h5>Delivery By:</h5>
                <p>
                  <%=order.expectedDelivery.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' ,
                  day: '2-digit' }).replace(/\//g,'-')%>
                </p>
              </div>
              <div class="col-md-6">
                <h5>Delivery Date:</h5>
                <p>
                  <%=order.date.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' ,
                  day: '2-digit' }).replace(/\//g,'-')%>
                </p>
              </div>
              <div class="card-body">
                <h5 class="mb-4">Shipping Address:</h5>
                <p>
                  <%=order.userName%>
                </p>
                <p>
                  <%=order.deliveryAddress%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4 border-0 shadow">
         
        </div>
        
      </div>
    </div>
  </div>
  <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('./footer') %>