
<%- include('./header.ejs') %>
    <style>
        /* Style the anchor tag */
        a.text-decoration-none {
            color: black;
            text-decoration: none;
            transition: color 0.3s;
        }

        /* Add hover effect */
        a.text-decoration-none:hover {
            color: #23527c;
        }

        .product_cartitem_pic img {
            height: 50px;
            width: 50px;
        }

        .product_cartitem_text h6,
        .product_cartitem_text h5 {
            font-size: 14px;
        }

        .breadcrumb-option {
            background-color: #f8f9fa;
            padding: 20px 0;
        }

        .breadcrumb__text h4 {
            font-size: 24px;
            color: black;
            margin-bottom: 10px;
        }

        .breadcrumb__links a {
            color: black;
        }

        .breadcrumb__links span {
            color: #777;
        }

        .card {
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: scale(1.02);
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .card-title::after {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #ff6600;
            margin-top: 10px;
        }

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }

        .col-lg-4,
        .col-lg-8 {
            padding-left: 15px;
            padding-right: 15px;
        }

        .rounded-circle {
            width: 150px;
            height: 150px;
        }

        .mb-3 {
            margin-bottom: 20px;
        }

        .list-group-item {
            padding: 20px;
            border: none;
        }

        .list-group-item:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .list-group-item:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .btn-primary {
            background-color: #F6511D;
            border-color: #F6511D;
            transition: background-color 0.3s ease-in-out;
        }

        .btn-primary:hover {
            background-color: #F6511D;
            border-color: #F6511D;
        }

        .card-body p {
            color: black;
        }

        .card-body p.mb-0 {
            color: black;
            font-weight: 600;
        }


/* order details card */
.order-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-info {
    font-size: 16px;
}

.info-row {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #333;
}

.info-value {
    color: #666;
}

.status-orange {
    color: #F6511D;
    font-weight: bold;
}


.button-container {
    text-align: end;
    margin-top: 20px;
}

.view-details-button {
    background-color: #F6511D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details-button:hover {
    background-color: black;
}


    </style>
    <title>User Profile</title>


    <!-- Main Content -->
    <section class="breadcrumb-option">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="breadcrumb__text pt-5">
                        <h4><i class="fas fa-user-circle"></i> Profile</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: white">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4" >
                    <div class="card" >
                        <div class="card-body" >
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="#" class="text-decoration-none" onclick="toggleProfileForm()"><i
                                            class="fas fa-edit"></i> Edit Profile</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="text-decoration-none" onclick="toggleOrders()"><i
                                            class="fas fa-file-alt"></i> Orders</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="text-decoration-none" onclick="toggleAddress()"><i
                                            class="fas fa-map-marked-alt"></i> Manage Address</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/walletHistory" class="text-decoration-none"><i class="fas fa-wallet"></i>
                                        Wallet History</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/logout" class="btn btn-primary ml-3"><i class="fas fa-sign-out-alt"></i>
                                        Logout</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card mb-4" id="userDetails">
                        <div class="card-body">
                            <h3 class="card-title">User Profile</h3>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">
                                        <%= user.name %>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">
                                        <%= user.email%>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">
                                        <%= user.mob %>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 mt-2">Actions:</p>
                                </div>
                                <div class="col-sm-9">
                                    <!-- <a href="/passwordChange?id=64b7b41173284943fc15df2b" class="btn btn-primary mr-2"><i
                                            class="fas fa-key"></i> Change
                                        Password</a> -->
                                    <a href="/addnewAddress" class="btn btn-primary"><i class="fas fa-plus"></i> Add
                                        Address</a>
                                </div>
                                <!-- Wallet Section -->
                                <div class="wallet" style="padding: 1.7rem; border-radius:
                                    0.25rem; color: #ffffff;">
                                    <h2 ><i class="fas fa-wallet" style="color: #F6511D;"></i> My Wallet</h2>
                                    <p style="font-weight: 900;"><i class="fas fa-rupee-sign"></i> Balance: <%= user.wallet %>
                                    </p>
                                    <!-- Add more elements or information about the wallet here -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4" id="profileForm" style="display: none">
                        <div class="card-body">
                            <h5 class="card-title">Update Profile</h5>
                            <hr />name
                            <form action="/updateProfile" method="post">
                                <div class="form-group">
                                    <label for="firstName"><i class="fas fa-user"></i> First Name</label>
                                    <input type="text" class="form-control" name="name" id="firstName"
                                        value="<%= user.name %>" placeholder="Enter your first name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email"><i class="fas fa-envelope"></i> Email</label>
                                    <input type="email" class="form-control" id="email" name="email" readonly
                                        value="<%= user.email %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="mobile"><i class="fas fa-mobile-alt"></i> Mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="phone"
                                        value="<%= user.mob %>" placeholder="Enter your mobile number" required>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save
                                    Changes</button>
                            </form>
                        </div>
                    </div>

                    <div class="card mb-4" id="addressDetails" style="display: none">
                        <div class="card-body">
                            <h5 class="card-title">Address Details</h5>
                            <div class="d-flex justify-content-end">
                                <a href="/addnewAddress" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add
                                    New Address</a>
                            </div>
                            <% if (dataAddress && dataAddress.address ) { %>
                                <% dataAddress.address.forEach((value,index)=>{%>
                                <hr />
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Address:<%= index+1 %></p>
                                  </div>
                                  <div class="col-sm-9" style="color: black;">
                                    <p class="text-muted mb-0" >Name: <%= value.fname %> <%= value.sname %></p>
                                    <p class="text-muted mb-0">Housename: <%= value.housename %></p>
                                    <p class="text-muted mb-0">City: <%= value.city %></p>
                                    <p class="text-muted mb-0">State: <%= value.state %></p>
                                    <p class="text-muted mb-0">district: <%= value.district %></p>
                                    <p class="text-muted mb-0">Country: <%= value.country %></p>
                                    <p class="text-muted mb-0">Email: <%= value.email %></p>
                                    <p class="text-muted mb-0">Phone: <%= value.mobile %></p>
                                    <p class="text-muted mb-0">Pin Code: <%= value.pin %></p>
                                  </div>
                                </div>
                                <div class="row mt-3">
                                  <div class="col-sm-9 offset-sm-3">
                                    <a href="/editAddress?addressId=<%=value._id%>&&index=<%=index%>" class="btn btn-primary btn-sm mr-2"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="/remove_address?id=<%=value._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove</a>
                                  </div>
                                </div>

                                <hr />
                              <% })%>
                              <% } else { %>
                                <p>No address found.</p>
                              <% } %>
                               </div>
                    </div>

                    <div class="card mb-4" id="orderDetails" style="display:none">
                        <div class="card-body">
                            <h5 class="card-title">Order Details</h5>

                            <% order.forEach(function(value) { %>



                                
                                <hr />
                                <div class="order-card">
                                    <div class="order-info">
                                        <div class="info-row">
                                            <span class="info-label">Order ID:</span>
                                            <span class="info-value"><%=value._id%></span>
                                        </div>
                                        <div class="info-row">
                                            <span class="info-label">Total Amount:</span>
                                            <span class="info-value">₹<%=value.totalAmount %></span>
                                        </div>
                                        <div class="info-row" style="width: 50%;">
                                            <span class="info-label">Delivery Address:</span>
                                            <span  class="info-value"><%=value.deliveryAddress %></span>
                                        </div>
                                        <div class="info-row">
                                        <% const dates = new Date(value.date); %>
                                        <% const optionss = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                                            
                                            <span class="info-label">Orderd Date:</span>
                                            <span class="info-value"><%= dates.toLocaleDateString('en-US', optionss) %></span>
                                        </div>

                                        <div class="info-row">
                                        <% const date = new Date(value.expectedDelivery); %>
                                        <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                                            
                                            <span class="info-label">Delivery Date:</span>
                                            <span class="info-value"><%= date.toLocaleDateString('en-US', options) %></span>
                                        </div>

                                        <div class="info-row">
                                            <span class="info-label">Payment:</span>
                                            <span class="info-value status-orange">
                                                <% if (value.payment=='cod') { %>                                                  
                                                    Cash On Delivery
                                                  <% }else{%>
                                                    Razorpay
                                                    <% } %>
                                                                                                                                                  
                                            </span>
                                        </div>
                                        <div class="button-container">

                                            <a class="d-flex justify-content-start" style="text-decoration: underline; font-weight: 900;"
                                                href="/invoice?orderId=<%=value._id  %>"
                                                class="invoice-btn">Download Invoice</a>
                                            
                                                <a href="/orderDetails?orderId=<%=value._id%>">    <button class="view-details-button">View Details</button></a>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>  
                                

                            
                        </div>
                    </div>





                    

                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript dependencies (jQuery, Popper.js, Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        function toggleProfileForm() {
            var orderDetails = document.getElementById('orderDetails');
            var profileForm = document.getElementById("profileForm");
            var userDetails = document.getElementById("userDetails");
            var addressDetails = document.getElementById("addressDetails");

            if (profileForm.style.display === "none") {
                profileForm.style.display = "block";
                userDetails.style.display = "none";
                addressDetails.style.display = "none";
                orderDetails.style.display = "none";
            } else {
                profileForm.style.display = "none";
                userDetails.style.display = "block";
            }
        }

        function toggleAddress() {
            var orderDetails = document.getElementById('orderDetails');
            var userDetails = document.getElementById("userDetails");
            var addressDetails = document.getElementById("addressDetails");
            var profileForm = document.getElementById("profileForm");
            if (addressDetails.style.display === "none") {
                addressDetails.style.display = "block";
                userDetails.style.display = "none";
                profileForm.style.display = "none";
                orderDetails.style.display = "none";
            } else {
                addressDetails.style.display = "none";
                userDetails.style.display = "block";
            }
        }

        function toggleOrders() {
            var orderDetails = document.getElementById('orderDetails');
            var userDetails = document.getElementById("userDetails");
            var addressDetails = document.getElementById("addressDetails");
            var profileForm = document.getElementById("profileForm");
            if (orderDetails.style.display === "none") {
                orderDetails.style.display = "block";
                userDetails.style.display = "none";
                addressDetails.style.display = "none";
                profileForm.style.display = "none";
            } else {
                orderDetails.style.display = "none";
                userDetails.style.display = "block";
            }
        }
    </script>


    <script>
        const name = document.getElementById('firstName')
        const mobile = document.getElementById('mobile')

        name.addEventListener("input", () => {
            if (name.value.trim() == "") {
                name.setCustomValidity("please enter the name")
            }
            else {
                name.setCustomValidity("")
            }

        })

        mobile.addEventListener("input", () => {

            if (!mobile.value.match(/^\d+$/)) {
                mobile.setCustomValidity('please enter the Number')
            }
            else {
                mobile.setCustomValidity('')
            }

        })
    </script>

    </html>


    <%- include('./footer.ejs') %>
